@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --blue-500: hsl(215, 51%, 70%);
    --cyan-400: hsl(178, 100%, 50%);
    --blue-950: hsl(217, 54%, 11%);
    --blue-900: hsl(216, 50%, 16%);
    --blue-800: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    
    --font-main: 'Outfit', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: var(--blue-950);
    font-family: var(--font-main);
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    background-color: var(--blue-900);
    width: clamp(280px, 95%, 350px);
    padding: clamp(16px, 5vw, 24px);
    border-radius: 15px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
}

.img-container {
    position: relative;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.main-img {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(178, 100%, 50%, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.img-container:hover .overlay {
    opacity: 1;
}

.content {
    margin-top: clamp(16px, 4vw, 24px);
}

.title {
    color: var(--white);
    font-size: clamp(18px, 2vw + 12px, 22px);
    font-weight: 600;
    margin-bottom: 16px;
    cursor: pointer;
    transition: color 0.2s;
}

.title:hover {
    color: var(--cyan-400);
}

.description {
    color: var(--blue-500);
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 24px;
}

.count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    margin-bottom: 16px;
    font-size: clamp(15px, 1.2vw + 12px, 18px);
}

.quantity, .left {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.quantity {
    color: var(--cyan-400);
}

.left {
    color: var(--blue-500);
}

.divider {
    border: none;
    height: 1px;
    background-color: var(--blue-800);
    margin-bottom: 16px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 16px;
}

.avatar {
    width: 33px;
    height: 33px;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.author {
    color: var(--blue-500);
    font-size: clamp(14px, 1.5vw + 10px, 16px);
}

.name {
    color: var(--white);
    cursor: pointer;
}

.name:hover {
    color: var(--cyan-400);
}